.cold{
    background: rgb(183, 221, 221);
}

.hot{
    background: rgb(143, 129, 102);
}

#header, #mid, #footer{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    background-color: rgba(114, 83, 83, 0.247);
}

#clockOut{
    text-align: right;
}

#styleDiv{
    text-align:center;
}

#coldBtn{
    background-color: #437e96;
    border:2px solid rgb(47, 84, 87);
    color:rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.125s;
}
#coldBtn:hover{
    background-color:#bbddeb;
    border:2px solid black;
    transition: 0.125s;
}
#coldBtn:active{
    color:white;
}
#coldBtn:active{
    color:white;
    transition: 0.125s;
    font-size:150%;
}

#hotBtn{
    background-color: #966443;
    border:2px solid rgb(230, 157, 98);
    color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: 0.125s;
}
#hotBtn:hover{
    color: black;
    background-color:#ebdabb;
    border:2px solid black;
    transition: 0.125s;
}
#hotBtn:active{
    color:white;
    transition: 0.125s;
    font-size:150%;
}

#btn1{
    background-color: rgb(74, 177, 54);
    font-size: 10px;
    border: 2px solid rgb(49, 112, 36);
    padding: 8px 16px;
    transition: 0.25s;
}
#btn1:hover{
    transition: 0.25s;
    font-size: 16px;
}
#btn1:active{
    color:white;
    transition: 0.125;
    font-size: 20px;
}

#showBtn{
    background-color: rgb(183, 221, 221);
    color: rgb(143, 129, 102);
    border: none;
    font-size: 12px;
}
#showBtn:hover{
    font-size:23.4px;
}

h1{
    font-family: sans-serif;
    font-size:40px;
}

p{
    font-family:serif;
    font-size: 20px;
}

#errorMsg{
    font-size: 16px;
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#alarmMsg, #alarmID{
    color:green;
    background-color: black;
    border:solid 1px green;
}